.feed{
   
    display: flex;
    flex: 0.6;
    flex-direction: column;
    margin: 0px 30px;
}
.feed__form{
    display: flex;
    margin-right: 10px;
}

.feed .feed__input{
    display: flex ;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;

}
.feed__input form{
    display: flex ;
    align-items: center;
    margin-bottom: 10px;
    
}
.feed__input form input[type="text"]{
    display: flex ;
    border-radius: 20px ;
    align-items: center;
    height: 40px;
    border: 1px solid;
    outline:0px;
    margin-left: 10px;
    padding: 0px 10px;
   
}
.feed__input form input[type="submit"]{
    display: none;
}
.feed__options{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}
.feed__options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.feed__options .options{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 10px;
}
.feed__options .options:hover{
    background-color: #eee;
}
.feed__options .options svg{
    margin-right: 10px;
}